# API
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1

# App
NEXT_PUBLIC_APP_NAME=Ingoboka
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PWA
NEXT_PUBLIC_ENABLE_PWA=true

# Default locale (RW or EN)
NEXT_PUBLIC_DEFAULT_LOCALE=RW
